MesaSalesService/src/com/natica/sales/model/views/common/SmartsPlanGayrimenkulViewSDO.xsd

<xsd:schema xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     targetNamespace="/com/natica/sales/model/views/common/" xmlns="/com/natica/sales/model/views/common/"
     elementFormDefault="qualified" sdoJava:package="com.natica.sales.model.views.common">
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:complexType name="SmartsPlanGayrimenkulViewSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PlanGayrimenkulId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="PlanGayrimenkulId" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="ProjeId" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="BlockPlanId" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="GayrimenkulId" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="Koordinatlar" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="CreationDate" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="LastUpdateDate" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="smartsPlanGayrimenkulViewSDO" type="SmartsPlanGayrimenkulViewSDO"/>
</xsd:schema>
