MesaSalesService/classes/com/natica/sales/model/common/serviceinterface/SalesModuleService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/com/natica/sales/model/common/types/"
     xmlns:tns="/com/natica/sales/model/common/types/" xmlns:ns0="/com/natica/sales/model/views/common/"
     xmlns:ns1="http://xmlns.oracle.com/adf/svc/errors/">
    <import namespace="http://xmlns.oracle.com/adf/svc/errors/" schemaLocation="classpath:/META-INF/wsdl/ServiceException.xsd"/>
    <import namespace="/com/natica/sales/model/views/common/" schemaLocation="../../views/common/SmartsBlokPlaniViewSDO.xsd"/>
    <element name="viewBlockPlani">
        <complexType>
            <sequence>
                <element name="blokPlaniId" type="decimal"/>
            </sequence>
        </complexType>
    </element>
    <element name="viewBlockPlaniResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:SmartsBlokPlaniViewSDO"/>
            </sequence>
        </complexType>
    </element>
</schema>
